/*
** @header
*/

/* Give space for header */
section{
  margin-top:80px;
}
header .header__current-page {
  color: rgba(255, 117, 0, 0.8);
}
/* Consider as container */
header{
  top:0;  /* Stick header to top */
  position: fixed;
  width: 100%;
  z-index: 10;
  visibility: inherit;
  text-align: center;
}
header nav ul{
  color: #efeff0;
  display: block;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0;
  opacity: 1;
  text-align:center;
}

/*
** @navigation @primary
*/
#nav_primary__container{
  background-color: #33658a;
  z-index: 1;
  display: block;
  position:relative;
  box-shadow: 0px 5px 10px -5px #141414;
}
#nav_primary__container ul{
  max-width:1700px;
}
#nav_primary__container ul li{
  text-align: center;
  font-size:1.3em;
  display: inline-block;
  width: 6em;
  margin:0 0.5em;
  padding: 0.5em 0;
  border-bottom:  3px solid transparent;
  border-top:     3px solid transparent;
  transition: all 0.8s ease-in-out, border 0.5s ease-in-out, color 1s ease-in-out, font-size 1.5s ease-in-out;
}
#nav_primary__container ul li:hover{
  border-bottom: 3px solid rgba(255, 117, 0, 1);
  color: rgba(255, 117, 0, 1);
}
#nav_primary__container #header__title{
  color: #fafafa;  
  font-size: 1.6em;
  width:16em;
  padding:0.3em 0;
  letter-spacing: 5px;
  border-bottom:  3px solid transparent;
  border-top:     3px solid transparent;
  border-left:    3px solid whitesmoke;
  border-right:   3px solid whitesmoke;
  transition:all 0.5s ease-in-out,border-top 0.8s ease-in-out,border-bottom 0.8s ease-in-out;
}
#nav_primary__container #header__title:hover{
  border-bottom:  3px solid whitesmoke;
  border-top:     3px solid whitesmoke;
  border-left:    3px solid transparent;
  border-right:   3px solid transparent;
  transition:all 0.5s ease-in-out,border-right 0.8s ease-in-out,border-left 0.8s ease-in-out;
}
@media only screen and (max-width:1060px){
  #nav_primary__container ul li{
    width:6em;
    font-size:1em;
    margin: 0 0.3em;
  }
  #nav_primary__container #header__title{
    font-size:1.3em;
    width:15em;
  }
}
@media only screen and (max-width:790px){
  #nav_primary__container{
    position: relative;
    padding: 30px 0 0 0;
    background-color:transparent;
    box-shadow:none;
  }
  #nav_primary__container ul li{
    width:7em;
    font-size:1em;
    margin: -15px -5px 0 -5px;
    border-radius: 2px;
    padding: 20px 0 5px 0;
    background-color: rgba(40,40,40,1);
    box-shadow:0px 3px 5px -3px black;
  }
  #nav_primary__container #header__title{
    box-shadow:none;
    background-color: #33658a;
    font-size:1.3em;
    display: block;
    top:0;
    width:100%;  
    margin:0;
    position: absolute;
    border:none;
  }
  #nav_primary__container #header__title:hover{
    border:none;
    color:rgba(150,200,255,0.9);
  }
}
@media only screen and (max-width:500px){
  .font__lusitana:before{display: none; }
  #nav_primary__container ul li{
    width:auto;
    padding: 20px 8px 5px 8px;
    font-size:1em;
  }
  #nav_primary__container #header__title{
    background-color: #33658a;
    font-size:1.1em;
  }
}
/*
** @navigation @secondary
*/
#nav_secondary__container{
  opacity: 0;
  width:600px;
  font-size: 1.1em;
  display:block;
  margin:0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #2b303a;
  position: relative;
  text-align: center;
  box-shadow: 0px 5px 10px -3px #141414;
  transition: opacity 0.4s ease-in-out;
}
#nav_secondary__container li{
  padding:0.5em 1.2em;
  margin: 0 1em;
  display:inline-block;
  border-bottom: 3px solid transparent;
  transition:all 0.2s ease-in-out;
}

#nav_secondary__container ul li:hover{
  border-bottom: 3px solid #86baa1 !important;
  color: #86baa1;
}
#nav_secondary__container .header__current-page{
  background-color:rgba(80,80,80,1);
  color:whitesmoke;
}
#nav_secondary__container .header__current-page:hover{
  border-bottom: 3px solid transparent !important;
}


/*
** @navigation @teriary
*/
#nav_tertiary__container{
  opacity: 0;
  width:530px;
  display:block;
  margin:0 auto;
  background-color:rgba(80,80,80,1);
  font-size: 0.9em; 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
  position: relative;
  box-shadow: 0px 5px 10px -5px #141414;
  transition: opacity 0.8s ease-in-out;
}
#nav_tertiary__container li{
  padding: 0.4em 1.5em;
  margin: 0 3em;
  display: inline-block;
  transition:all 0.2s ease-in-out;
  border-bottom: 3px solid transparent;
}
#nav_tertiary__container li:hover{
  border-bottom: 3px solid #86baa1 !important;
  color: #86baa1;
}

/*
** @column @next @prev navigator
*/
#col_nav__container #col_nav__prevPage,
#col_nav__container #col_nav__nextPage{
  width: 9vw;
  height:100vh;
  position: fixed;
  padding:1vw;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 5vw 2vw white;
  cursor: pointer;
  transition:all 0.5s ease-in-out;
}
#col_nav__container #col_nav__prevPage p,
#col_nav__container #col_nav__nextPage p{
  display: block;
  color: rgba(150,150,150,0.9);
  font-size: 1vw;
  text-align: center;
  width:100%;
  padding-top:150px;
  position: relative;
  transition:all 0.5s ease-in-out;
}
#col_nav__container #col_nav__prevPage img,
#col_nav__container #col_nav__nextPage img{
  width:100%;
  margin: 10px 0;
  opacity:0.6;
  transition:0.5s ease-in-out;
}
#col_nav__container #col_nav__prevPage img{
  transform: rotateY(180deg);
}
#col_nav__container #col_nav__prevPage:hover,
#col_nav__container #col_nav__nextPage:hover{
  background-color: rgba(50,150,255,0.2);
  box-shadow: 0 0 7vw 7vw rgba(50,150,255,0.2);
}
#col_nav__container #col_nav__prevPage:hover a p,
#col_nav__container #col_nav__nextPage:hover a p{
  color: rgb(100,100,100);
}
#col_nav__container #col_nav__prevPage:hover img,
#col_nav__container #col_nav__nextPage:hover img{
  opacity: 1;
}
#col_nav__container #col_nav__prevPage{
  left:0;
}
#col_nav__container #col_nav__nextPage{
  right:0;
}


/*
** @animation @accessability
 */
#nav_acccessability_container{
  position: absolute;
  border-radius: 50%;
  top:80px;
  left:10%;
  cursor: pointer;
}

#nav_acccessability_container img{
  width: 40px;
  height: 40px;
  border-radius:50%;
  display:block;
  position:absolute;
  transition: all 0.3s ease-in-out;
}
#nav_acccessability_container:after{
  content:"Toggle animations";
  display: inline-block;
  text-align: left;
  position: absolute;
  width:150px;
  font-size:20px;
  padding:10px;
  color: rgba(40,40,40,0.8);
  margin: -10px 0 0 50px;
  border:1px solid lightgrey;
  border-left:4px solid rgba(50,150,255,0.8);  
  opacity: 0;
  z-index: -1;
  transition:0.4s ease-in-out;
  background-color:rgba(255,255,255,0.8);
}
#nav_acccessability_container:hover:after{
  opacity: 1;
  margin: 0 0 0 50px;
  z-index: 1;
}
.nav_acccessability__hide{
  opacity: 0;
  z-index: -1;
}
