/*
** @section 
** - define background image positioning and column container positioning
*/
section#content_body{
  background-image: url(../images/backgrounds/landing2.jpg);
  background-size: 1500px auto;     /* Define precise size of the background */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: ;
  padding:0;
  margin-top: 0px !important;
}
section#content_body #home__intro{
  width:50vw;
  max-width:550px;
  margin:150px auto;
  background-color:rgba(0,50,105,0.4);
  color:rgba(255,255,255,1);
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  padding:3em 3em 0 3em;
  border:1px solid transparent;
}
section#content_body #home__intro h2{
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}

section#content_body #home__intro p{
  font-size:1.2em;
  margin: 2em 0;
  text-align: justify;
}
@media only screen and (max-width:1000px){
  section#content_body{  background-size:1300px; background-position: center left;  }
  section#content_body #home__intro{    width:100%;  }
  section#content_body #home__intro h2{ font-size:1.2em;  }
  section#content_body #home__intro p{  font-size:1em; }
}
@media only screen and (max-width:550px){
  section#content_body{  background-size:1100px auto;  }
  section#content_body #home__intro{    
    width:90%;  
    padding:20px 20px 0px 20px;
  }
  section#content_body #home__intro h2{ font-size:1.2em;  }
  section#content_body #home__intro p{  font-size:1em; }
}
