#modal_nav_container{
  margin: 50px auto 0 auto;
}

/*
** @section 
** - define background image positioning and column container positioning
*/
section#content_body{
  background-image: url(../images/backgrounds/west-section-2.jpg);
  background-size: 1500px 2050px;     /* Define precise size of the background */
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  height: 2050px;
  margin: 90px auto 0 auto !important; 
}

section #column_container {
  display: flex;
  height: 1850px;     /* Must match background size dimensions */
  width: 1080px;
  border: 5px solid transparent;
  margin: 110px auto 0 auto;
}

/*
** @columns
** - Define width and positioning of columns
*/
#column_container #Slip-1{
  width: 244px;
  margin: 0 0 0 12px;
}
#column_container #Column-3{
  width: 433px;
  margin: 0 0 0 65px;
}
#column_container #Slip-2{
  width: 243px;
  margin: 0 0 0 68px;
}

/*
** @shelf
** - Precise positioning of the shelves
*/
.shelf{
  box-shadow:inset -10px -5px 20px 2px rgba(40,40,40,0.6);
}

#Slip-1 > #shelf-5{height:168px;margin-top:630px;}
#Slip-1 > #shelf-4{height:220px;margin-top:15px;}
#Slip-1 > #shelf-3{height:218px;margin-top:16px;}
#Slip-1 > #shelf-2{height:219px;margin-top:15px;}
#Slip-1 > #shelf-1{height:320px;margin-top:15px;}

#Column-3 > #shelf-6{height:240px;margin-top:4px;}
#Column-3 > #shelf-5{height:240px;margin-top:14px;}
#Column-3 > #shelf-4{height:320px;margin-top:15px;}
#Column-3 > #shelf-3{height:318px;margin-top:16px;}
#Column-3 > #shelf-2{height:318px;margin-top:16px;}
#Column-3 > #shelf-1{height:320px;margin-top:16px;}
  
#Slip-2 > #shelf-5{height:168px;margin-top:630px;}
#Slip-2 > #shelf-4{height:220px;margin-top:15px;}
#Slip-2 > #shelf-3{height:218px;margin-top:16px;}
#Slip-2 > #shelf-2{height:219px;margin-top:15px;}
#Slip-2 > #shelf-1{height:319px;margin-top:17px;width:244px;}

/*
** @book
*/
#bookID-1068{
  width:250px !important;
}

#modal{
  padding-top:5.5em;
}
/*
** @section 
** - define background image positioning and column container positioning
*/
section#content_body{
  background-image: url(../images/backgrounds/west-section-2.jpg);
  background-size: 1500px 2050px;     /* Define precise size of the background */
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  height: 2050px;
  min-height: 2050px;
  max-height: 2050px;
  margin-top: 70px;
}

section #column_container {
  display: flex;
  height: 1850px;     /* Must match background size dimensions */
  width: 1080px;
  border: 5px solid transparent;
  margin: 110px auto 0 auto;
}

/*
** @columns
** - Define width and positioning of columns
*/
#column_container #Slip-1{
  width: 244px;
  margin: 0 0 0 12px;
}
#column_container #Column-3{
  width: 433px;
  margin: 0 0 0 65px;
}
#column_container #Slip-2{
  width: 243px;
  margin: 0 0 0 68px;
}

/*
** @shelf
** - Precise positioning of the shelves
*/
.shelf{
  box-shadow:inset -10px -5px 20px 2px rgba(40,40,40,0.6);
}

#Slip-1 > #shelf-5{height:168px;margin-top:630px;}
#Slip-1 > #shelf-4{height:220px;margin-top:15px;}
#Slip-1 > #shelf-3{height:218px;margin-top:16px;}
#Slip-1 > #shelf-2{height:219px;margin-top:15px;}
#Slip-1 > #shelf-1{height:320px;margin-top:15px;}

#Column-3 > #shelf-6{height:240px;margin-top:4px;}
#Column-3 > #shelf-5{height:240px;margin-top:14px;}
#Column-3 > #shelf-4{height:320px;margin-top:15px;}
#Column-3 > #shelf-3{height:318px;margin-top:16px;}
#Column-3 > #shelf-2{height:318px;margin-top:16px;}
#Column-3 > #shelf-1{height:320px;margin-top:16px;}
  
#Slip-2 > #shelf-5{height:168px;margin-top:630px;}
#Slip-2 > #shelf-4{height:220px;margin-top:15px;}
#Slip-2 > #shelf-3{height:218px;margin-top:16px;}
#Slip-2 > #shelf-2{height:219px;margin-top:15px;}
#Slip-2 > #shelf-1{height:319px;margin-top:17px;width:244px;}

/*
** @book
*/
#shelf-4 li{
  min-width: 15px;
}
#Column-3 #shelf-2 li{
  min-width:30px;
}
#Column-3 #shelf-3 li{
  min-width:30px;
}
#Column-3 #shelf-4 li{
  min-width:25px;
}

#bookID-889{ width:60px !important;}
#bookID-890{ width:30px !important;}
#bookID-891{ width:35px !important;}
#bookID-893{ width:20px !important;}
#bookID-894{ width:60px !important;}
#bookID-902{ width:20px !important;}
#bookID-903{ width:30px !important;}
#bookID-904{ width:30px !important;}
#bookID-905{ width:100px !important;}
#bookID-907{ width:30px !important;}
#bookID-914{ width:20px !important;}
#bookID-920{ width:90px !important;}
#bookID-1013{ width:150px !important;}
#bookID-1011{ width:30px !important;}
#bookID-1019{ width:30px !important;}
#bookID-1030{ width:60px !important;}
#bookID-1031{ width:90px !important;}
#bookID-1035{ width:120px !important;}
#bookID-1052{ width:20px !important;}
#bookID-1053{ width:50px !important;}
#bookID-1054{ width:20px !important;}
#bookID-1059{ width:40px !important;}
#bookID-1060{ width:20px !important;}
#bookID-1063{ width:20px !important;}
#bookID-1068{ width:200px !important;}
#bookID-1160{ width:25px !important;}
#bookID-1165{ width:50px !important;}
#bookID-1193{ width:20px !important;}
/*
** @toolTip
*/
#column_container #Slip-2 .shelf .book .toolTip{
    left:-350px !important;
    border-left:0px solid rgba(50,150,255,0.8);
    border-right:5px solid rgba(50,150,255,0.8);
}
