#modal_nav_container{
  margin: 50px auto 0 auto;
}
/*
** @section 
** - define background image positioning and column container positioning
*/
section {
  background-image: url(../images/backgrounds/east-section-2.jpg);
  background-size: 1600px 2650px;     /* Define precise size of the background */
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  height: 2650px;
  width:1600px;
  margin:0 auto;
}


section #column_container {
  display: flex;
  height: 2390px;     /* Must match background size dimensions */
  width: 1100px;
  border:5px solid transparent;
  margin: 140px auto 0 auto;
}

/*
** @columns
** - Define width and positioning of columns
*/
#column_container #Slip-1{
  width: 220px;
  margin: 0 0 0 6px;
}
#column_container #Column-3{
  width:490px;
  margin: 0 0 0 73px;
}
#column_container #Slip-2{
  width:215px;
  margin: 0 0 0 76px;
}

/*
** @shelf
** - Precise positioning of the shelves
*/
.shelf{
  box-shadow:inset 0px 5px 20px 2px rgba(40,40,40,0.9);
  border-radius: 3px;
}

#Slip-1 > #shelf-5{height:217px;margin-top:810px;}
#Slip-1 > #shelf-4{height:282px;margin-top:24px;}
#Slip-1 > #shelf-3{height:281px;margin-top:24px;}
#Slip-1 > #shelf-2{height:282px;margin-top:24px;}
#Slip-1 > #shelf-1{height:410px;margin-top:24px;}

#Column-3 > #shelf-7{height:200px;margin-top:220px;width:494px;}
#Column-3 > #shelf-6{height:198px;margin-top:21px;width:494px;}
#Column-3 > #shelf-5{height:197px;margin-top:22px;width:493px;}
#Column-3 > #shelf-4{height:197px;margin-top:22px;width:492px;}
#Column-3 > #shelf-3{height:412px;margin-top:22px;}
#Column-3 > #shelf-2{height:412px;margin-top:22px;}
#Column-3 > #shelf-1{height:412px;margin-top:22px;}
  
#Slip-2 > #shelf-5{height:217px;margin-top:810px;width:218px;}
#Slip-2 > #shelf-4{height:282px;margin-top:24px;width:217px;}
#Slip-2 > #shelf-3{height:281px;margin-top:24px;width:216px;}
#Slip-2 > #shelf-2{height:282px;margin-top:24px;width:216px;}
#Slip-2 > #shelf-1{height:410px;margin-top:24px;}

#modal{padding-top:5.5em;}

#Column-3 #shelf-1 .book__stock-1{ width: 18px !important;}
#Column-3 #shelf-1 .book__stock-2{ width: 25px !important;}
/*
** @book individual
*/
.book__stock-1{ width:12px !important; }
.book__stock-2{ width:25px !important; }
.book__stock-3{ width:33px !important; }
.book__stock-4{ width:45px !important; }
.book__stock-5{ width:55px !important; }
.book__stock-6{ width:65px !important; }
.book__stock-8{ width:85px !important; }
.book__stock-10{ width:105px !important; }
.book__stock-11{ width:200px !important; }
.book__stock-23{ width:400px !important; }

.format_wall-section__fol\. .book__stock-1{ width: 18px !important;}
.format_wall-section__fol\. .book__stock-2{ width: 36px !important;}
.format_wall-section__fol\. .book__stock-3{ width: 44px !important;}
.format_wall-section__fol\. .book__stock-4{ width: 60px !important;}

#bookID-112{  width:35px !important; }
#bookID-121{  width:35px !important; }
#bookID-128{  width:35px !important; }
#bookID-129{  width:35px !important; }
#bookID-140{  width:35px !important; }
#bookID-143{  width:35px !important; }
#bookID-146{  width:90px !important; }
#bookID-149{  width:400px !important; box-shadow:none;}
#bookID-150{  width:70px !important; }
#bookID-155{  width:45px !important; }
#bookID-156{  width:80px !important; }
#bookID-160{  width:100px !important;}
#bookID-162{  width:35px !important;}
#bookID-179{  width:60px !important; }
#bookID-183{  width:35px !important; }
#bookID-376{  width:30px !important; }
#bookID-381{  width:35px !important; }
#bookID-382{  width:40px !important; }
#bookID-397{  width:30px !important; }
#bookID-401{  width:55px !important; }

/*
** @toolTip
*/
#column_container #Slip-2 .shelf .book .toolTip{
    left:-350px !important;
    border-left:0px solid rgba(50,150,255,0.8);
    border-right:5px solid rgba(50,150,255,0.8);
}
