/* 
** @generic
*/
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

a,
a:hover,
a:visited,
a:focus{
  text-decoration: none;
  color: inherit;
  outline:0;
}

body > section{
  min-height:100vh;
  margin-top:80px;
}

ul li {
  list-style: none;
}

.transitions-off * { 
  -webkit-transition: none !important; 
  -moz-transition: none !important; 
  -o-transition: none !important; 
  -ms-transition: none !important; 
  transition: none !important; 
} 

#content_body{
  overflow-x:hidden;
  opacity:0;
  transition:all 0.3s ease-in-out ,opactiy 1.5s ease-in, background 0.2s ease-in-out;
  overflow-y: visible;
}
.show-body{
  opacity: 1 !important;
}
#column_container{
  opacity:0;
  transition:opacity 0.5s ease-in;
}

.url_queried_book{
  border:2px solid rgba(230,11,11,0.7) !important;
}
.url_queried_book::before{
  content: "ID-"attr(data-id);
  font-family: monospace;
  font-size:1em;
  background-color:rgba(250,250,250,0.6);
  position: absolute;
  padding:0;
  margin: -25px 0 0 -2px;
  border: 2px solid rgba(230,11,11,0.7);
  border-top-left-radius: 3px;
  border-top-right-radius: 10px;
  width:75px;
  height:20px;
  box-shadow:-5px -2px 10px -3px black;
}
/*
** @spinner
*/
#spinner{
  position: fixed;
  top:40%;
  left:50%;
  margin-left: -100px;
  border-bottom:10px solid rgba(40,40,40,0.9);
  box-shadow: 8px 17px 5px -13px black;
  width:170px;
  padding:10px 10px 0 10px;
  text-align:center; 
  transition:opacity 0.8s ease-in-out;
  z-index: 5;
}
#spinner img{
  margin:0 0 -4px 0;
  padding:0;
  box-shadow:7px 7px 5px -3px black;
  display: inline-block;
  border:1px solid black;
  border-radius: 2px;
  animation: spin 6s infinite;
}
#spinner img:nth-child(1){animation-delay: 0.1s}
#spinner img:nth-child(2){animation-delay: 0.4s}
#spinner img:nth-child(3){animation-delay: 0.7s}
#spinner img:nth-child(4){animation-delay: 1.0s}
#spinner img:nth-child(5){animation-delay: 1.3s}
#spinner img:nth-child(6){animation-delay: 1.6s}
#spinner img:nth-child(7){animation-delay: 1.9s}
#spinner img:nth-child(8){animation-delay: 2.2s}
#spinner img:nth-child(9){animation-delay: 2.5s; transform: rotate(-5deg)}
#spinner img:nth-child(10){animation-delay: 2.8s; transform: rotate(-10deg) translateX(3px);}

@keyframes spin{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
/*
** @format wall view
*/
.format_12mo .book{     height: 32px; }
.format_8vo .book{      height: 38px; }
.format_4to .book{      height: 50px; }
.format_folio .book,
.format_fol\. .book{    height: 70px; }

/*
** @footer
*/
footer {
  background-color: rgba(20,20,20,1);
  box-shadow: 0 -5px 10px -4px black;
  bottom: 0vh;
  color: white;
  display: block;
  opacity: 1;
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 2;
  font-family: 'lusitana', serif !important;
  overflow: hidden;
}
footer > ul {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
footer > ul > li {
  vertical-align: middle;
  display: inline-block;
  margin:5px 2%;
  position: relative;  
}
footer li{
  opacity: 0.7;
  transition:0.2s ease-in-out;
}
footer li:hover{
  opacity: 1;
}
#footer__logo{
  text-align: left;
  width:370px;
}
#footer__logo img{
  transform:rotateY(180deg);
  width:50px;
  z-index: 0; 
}
#footer__logo h2{
  font-family: 'fell', serif;
  position: absolute;
  top:15px;
  left:40px;
  font-size:1.5em;
  line-height: 24px;
  cursor:default;
}
#footer__burney{
  width:400px;
}
#footer__burney img{
  max-width:150px;
}
#footer__burney p{
  font-size:20px;
  text-align: right;
  padding-right:5px;
}
#footer__burney ul li{
  padding:2px;
  display:inline-block;
  margin:0 1%;
}
#footer_chawtam{
  border-left: 1px solid lightgrey;
  padding:0 10%;
}
@media only screen and (max-width:860px){
  footer > ul > li{
    width:45%;
    margin: 0;
  }
  #footer__logo{
    text-align: center;
    position: relative;
  }
  #footer__logo img{
    display:inline-block;
    width: 18%;
    max-width:50px;
  }
  #footer__logo h2{
    display: inline-block;
    vertical-align: top;
    width:80%;
    max-width:240px;
    position:relative;
    top:0;
    left:0;
    margin:20px 0 0 -20px;
  }
}
@media only screen and (max-width:500px){
  footer > ul > li {
    margin:0 auto 5px auto;
    display: block;
    width:80% !important;
    text-align: center;
  }
  #footer__burney p{
    font-size:1em;
  }
  #footer__burney img{
    max-width:100px;
  }
  #footer_chawtam{
    border:none;
  }
}
@media only screen and (max-width:400px){
  #footer__logo h2{
    font-size:1.2em;
    width:190px;
  }
}