/*
** @section 
*/
section#content_body{
  background-image: url(../images/backgrounds/west-wall.jpg);
  background-size: 1200px 961px;     /* Define precise size of the background */
  background-position: center -30px;
  background-repeat: no-repeat;
  margin-top: 80px !important;
  min-height: 961px;
  max-height: 961px;
  height: 961px;
  width:100vw;
}
section #column_container{
  border:5px solid transparent;
  width:760px;
  height:600px;
  margin: 165px auto 0 auto;
  display: flex;
  flex-direction: row;
}

/*
** @columns
*/
#Column-1{  margin:5px 0 0 8px;   width:96px;}
#Column-2{  margin:5px 0 0 20px;  width:62px; }
#Slip-1{    margin:0px 0 0 21px;  width:79px; }
#Column-3{  margin:7px 0 0 21px;  width:139px;}
#Slip-2{    margin:0px 0 0 21px;  width:79px; }
#Column-4{  margin:8px 0 0 21px;  width:61px; }
#Column-5{  margin:8px 0 0 21px;  width:96px;}

/*
** @shelf
*/
#column_container #Column-1 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-1 #shelf-5{ margin:5px 0 0 0; height: 75px;}
#column_container #Column-1 #shelf-4{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-1 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-1 #shelf-2{ margin:5px 0 0 0; height: 102px;}
#column_container #Column-1 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Column-2 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-2 #shelf-5{ margin:5px 0 0 0; height: 76px;}
#column_container #Column-2 #shelf-4{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-2 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-2 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-2 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Slip-1 #shelf-5{ margin:205px 0 0 0; height: 51px;}
#column_container #Slip-1 #shelf-4{ margin:6px 0 0 0;   height: 70px;}
#column_container #Slip-1 #shelf-3{ margin:5px 0 0 0;   height: 68px;}
#column_container #Slip-1 #shelf-2{ margin:5px 0 0 0;   height: 70px;}
#column_container #Slip-1 #shelf-1{ margin:5px 0 0 0;   height: 100px;}

#column_container #Column-3 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-3 #shelf-5{ margin:5px 0 0 0; height: 75px;}
#column_container #Column-3 #shelf-4{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-3 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-3 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-3 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Slip-2 #shelf-5{ margin:205px 0 0 0; height: 51px;}
#column_container #Slip-2 #shelf-4{ margin:6px 0 0 0;   height: 70px;}
#column_container #Slip-2 #shelf-3{ margin:5px 0 0 0;   height: 68px;}
#column_container #Slip-2 #shelf-2{ margin:5px 0 0 0;   height: 71px;}
#column_container #Slip-2 #shelf-1{ margin:5px 0 0 0;   height: 100px;}

#column_container #Column-4 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-4 #shelf-5{ margin:5px 0 0 0; height: 75px;}
#column_container #Column-4 #shelf-4{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-4 #shelf-3{ margin:5px 0 0 0; height: 100px;}
#column_container #Column-4 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-4 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Column-5 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-5 #shelf-5{ margin:5px 0 0 0; height: 75px;}
#column_container #Column-5 #shelf-4{ margin:5px 0 0 0; height: 100px;}
#column_container #Column-5 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-5 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-5 #shelf-1{ margin:5px 0 0 0; height: 101px;}


/*
** @book individual
*/
.book__stock-1{ width: 4px; }
.book__stock-2{ width: 8px; }
.book__stock-3{ width: 10px; }
.book__stock-4{ width: 14px; }
.book__stock-5{ width: 20px; }
.book__stock-6{ width: 25px; }
.book__stock-8{ width: 35px; }
.book__stock-10{ width: 33px; }
.book__stock-11{ width: 55px; }

.format_folio .book__stock-1{ width: 6px;}
.format_folio .book__stock-2{ width: 15px;}
.format_folio .book__stock-3{ width: 20px;}
.format_folio .book__stock-4{ width: 30px;}
.format_folio .book__stock-6{ width: 35px;}
.format_folio .book__stock-7{ width: 55px;}
.format_folio .book__stock-10{ width: 60px;}


#Column-1 #shelf-3 .book__stock-1{ width: 6px; }
#Column-1 #shelf-3 .book__stock-2{ width: 10px; }
#Column-1 #shelf-3 .book__stock-3{ width: 15px; }
#Column-1 #shelf-3 .book__stock-4{ width: 20px; }
#Column-1 #shelf-4 .book__stock-1{ width: 5px; }
#Column-1 #shelf-4 .book__stock-2{ width: 9px; }
#Column-1 #shelf-5 .book__stock-1{ width: 7px; }
#Column-1 #shelf-5 .book__stock-2{ width: 15px; }
#Column-1 #shelf-6 .book__stock-1{ width: 4.5px; }
#Column-1 #shelf-6 .book__stock-2{ width: 9px; }
#Column-1 #shelf-6 .book__stock-4{ width: 15px; }
#Column-4 #shelf-2 .book__stock-2{ width: 10px;}
#Column-4 #shelf-4 .book__stock-3{ width: 15px;}
#Slip-1 #shelf-5 .book__stock-2{ width: 7px; }
#Slip-1 #shelf-5 .book__stock-3{ width: 9px; }
#Slip-1 #shelf-5 .book__stock-6{ width: 13px; }

#bookID-939{ width: 35px !important; }
#bookID-1068{ width: 70px !important; }
#bookID-1077{ width: px !important; }
#bookID-{ width: px !important; }
#bookID-{ width: px !important; }
#bookID-{ width: px !important; }
