/*
** @columns
*/
#column_container .column{
   border:1px solid transparent;
   display: block;
}

#column_container .column::before{
  display:block;
  position: absolute;
  margin:-40px 0;
  background-color: rgba(80,80,80,0.9);
  color:whitesmoke;
  font-size:1.1em;
  border-left: 0px solid rgba(50,150,255,0.8);
  box-shadow: 3px 3px 7px -3px black;
  padding: 10px;
  transition:all 0.3s ease-in-out;
  opacity:0;
}

.column_capstone{
  position:absolute;
  display: block;
  z-index: 1;
  margin:-40px 0;
  opacity: 0;  
  border:1px solid grey;
  border-radius: 1px;
  background-color:rgba(255,255,255,0.9);
  box-shadow: 5px 5px 7px -5px black;
  transition:0.3s ease-in-out;
}
.column_capstone::before{
  transition:0.3s ease-in-out;
  display:block;
  padding:5px 7px;
  font-size:1em;
  color: rgba(80,80,80,1);
}
.column_capstone:hover::before{
  padding: 5px 7px 5px 7px;
  border-left:5px solid rgba(50,150,255,0.8);
}
.column_capstone#column_capstone-Column-1::before,
.column_capstone#column_capstone-Column-2::before{
  content:"Left Section";
}
.column_capstone#column_capstone-Slip-1::before,
.column_capstone#column_capstone-Column-3::before,
.column_capstone#column_capstone-Slip-2::before{
  content:"Centre Section";
}
.column_capstone#column_capstone-Column-4::before,
.column_capstone#column_capstone-Column-5::before{
  content:"Right Section";
}
.column:hover .column_capstone{
  opacity: 1;
}

/*
** @shelf
*/
#column_container .column .shelf{
  padding:1px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  /* for book widths > 4px*/
  overflow:; 
  position: relative;
}

.shelf::before{
  display:block;
  position:absolute;
  font-size:1em;
  z-index: 1;
  width:100%;
  bottom:0;
  left:0;
  text-align: center;
  color:rgba(250,250,250,0.7);
  text-shadow: 1px 1px rgba(40,40,40,0.8);
}

/*
** @book
*/
#column_container .column .shelf .book{
  background-color:rgba(40,40,40,0.3);
  border-left:1px solid rgba(40,40,40,1);
  position:relative;
  align-self: flex-end;
  
}
#column_container .column .shelf .book .book_spine{
  height: 100%;
  width: 100%;
  max-width:100% !important;
  opacity: 0.8;
  background-color:rgba(40,40,40, 0.4);
  position: absolute;
  bottom:0;
}
#column_container .column .shelf .book__stock{
  background-color:rgba(50,50,50,1);
}

#column_container .column .shelf .book__stock .book_spine{
  opacity: 0.7;
}

#column_container .column .shelf .book:hover{
  border:1px solid aquamarine;
}
#column_container .column .shelf .book:hover .book_spine{
  opacity: 1;
}

/*
** @tool tip
*/
#column_container .column .shelf .book .toolTip{
  display: block;
  opacity: 0;
  z-index: -1;
  color:rgba(40,40,40,0.9);
  position: absolute;
  top:-40px;
  left:50px;
  margin: -15px 0 0 0px;
  padding:10px;
  width:300px;
  font-size:0.7em;
  border:1px solid grey;
  border-left:5px solid rgba(50,150,255,0.8);
  box-shadow:5px 5px 5px -5px black;
  background-color: rgba(255,255,255,0.93);
  transition:all 0.3s ease-in-out, opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
}
#column_container #Column-5 .shelf .book .toolTip,
#column_container #Column-4 .shelf .book .toolTip{
    left:-350px;
    border-left:0px solid rgba(50,150,255,0.8);
    border-right:5px solid rgba(50,150,255,0.8);
}
#column_container .column .shelf .book .toolTip *{
  margin:0 0 2px 0;
  padding:2px 0
}
#column_container .column .shelf .book .toolTip .toolTip_title{
  border-bottom:1px solid lightgrey;
}
#column_container .column .shelf .book:hover .toolTip{
  opacity: 1 !important;
  z-index: 2 !important;
  margin:0px 0 0 0px;
}
