/*
** @columns
*/
#column_container .column{
   border:1px solid transparent;
   display: block;
}

#column_container .column::before{
  display:block;
  position: absolute;
  margin:-40px 0;
  background-color: rgba(80,80,80,0.9);
  color:whitesmoke;
  font-size:1.1em;
  border-left: 0px solid rgba(50,150,255,0.8);
  box-shadow: 3px 3px 7px -3px black;
  padding: 10px;
  transition:all 0.3s ease-in-out;
  opacity:0;
}

#column_container #Column-1::before,
#column_container #Column-2::before{content: "Section 1";}

#column_container #Slip-1::before,
#column_container #Column-3::before,
#column_container #Slip-2::before{content: "Section 2";}

#column_container #Column-4::before,
#column_container #Column-5::before{content: "Section 3";}

#column_container .column:hover::before{
  opacity: 1;
}

/*
** @shelf
*/
#column_container .column .shelf{
  padding:1px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  /* for book widths > 4px*/
  overflow:; 
  position: relative;
}
/*
.format_12mo{           border:2px solid yellowgreen !important; }
.format_8vo{            border:2px solid orangered !important; }

.format_4to{            border:2px solid violet !important; }

.format_folio,
.format_fol\.{          border:2px solid yellow !important; }
.format_folio .book,
.format_fol\. .book{    height: 80px; }
*/
.shelf::before{
  display:block;
  position:absolute;
  font-size:1em;
  z-index: 1;
  width:100%;
  bottom:0;
  left:0;
  text-align: center;
  color:rgba(250,250,250,0.7);
  text-shadow: 1px 1px rgba(40,40,40,0.8);
}
.format_8vo::before{  content:"8vo";  }
.format_12mo::before{ content:"12mo"; }
.format_4to::before{  content:"4to";  }
.format_folio::before,
.format_fol\.::before{content:"folio";}


/*
** @book
*/
#column_container .column .shelf .book{
  background-color:rgba(40,40,40,0.3);
  border-left:1px solid rgba(40,40,40,1);
  position:relative;
  align-self: flex-end;
}
#column_container .column .shelf .book .book_spine{
  height: 100%;
  width: 100%;
  opacity: 0.8;
  opacity: 1;
  background-color:rgba(40,40,40, 0.4);
  position: absolute;
  bottom:0;
}
#column_container .column .shelf .book__stock{
  background-color:rgba(0,150,150,0.7);
}

#column_container .column .shelf .book__stock .book_spine{
  opacity: 0.8;
}

#column_container .column .shelf:hover{
  box-shadow:inset -2px 5px 20px 2px rgba(40,40,140,0.8);
}
#column_container .column .shelf .book:hover{
  border:1px solid aquamarine;
}

/*
** @tool tip
*/
#column_container .column .shelf .book .toolTip{
  display: block;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top:-40px;
  left:50px;
  margin: -20px 0 0 0px;
  padding:10px;
  width:300px;
  font-size:0.9em;
  border-left:5px solid rgba(50,150,255,0.8);
  box-shadow:5px 5px 5px -5px black;
  background-color: rgba(230,230,230,0.9);
  transition:all 0.3s ease-in-out, margin 0.8s ease-in-out;
}
#column_container #Column-5 .shelf .book .toolTip,
#column_container #Column-4 .shelf .book .toolTip{
    left:-350px;
    border-left:0px solid rgba(50,150,255,0.8);
    border-right:5px solid rgba(50,150,255,0.8);
}

#column_container .column .shelf .book .toolTip .toolTip_title{
  font-family: helvetica, sans-serif;
  margin:0 0 5px 0;
}
#column_container .column .shelf .book:hover .toolTip{
  opacity: 1 !important;
  z-index: 2 !important;
  margin:0px 0 0 0px;
}
