/*
** @section 
*/
section#content_body{
  background-image: url(../images/backgrounds/east-wall.jpg);
  background-size: 1300px 935px;     /* Define precise size of the background */
  background-position: center 20px;
  background-repeat: no-repeat;
  margin-top: 40px !important;
  max-width: 1300px;
  min-width:1300px;
  width:1300px;
  min-height: 935px;
  max-height: 935px;
  height: 935px;
  margin:0 auto;
}

section #column_container{
  border:5px solid transparent;
  width:760px;
  height:605px;
  margin: 205px auto 0 auto;
  display: flex;
  flex-direction: row;
}

/*
** @columns
*/
#Column-1{  margin:5px 0 0 5px;  width:105px; }
#Column-2{  margin:6px 0 0 21px; width:62px;  }
#Slip-1{    margin:5px 0 0 20px; width:66px;  }
#Column-3{  margin:7px 0 0 21px; width:148px; }
#Slip-2{    margin:5px 0 0 22px; width:65px;  }
#Column-4{  margin:7px 0 0 22px; width:62px;  }
#Column-5{  margin:6px 0 0 21px; width:105px; }

/*
** @shelf
*/
#column_container #Column-1 #shelf-7{ margin:53px 0 0 0; height: 49px;}
#column_container #Column-1 #shelf-6{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-1 #shelf-5{ margin:5px 0 0 0; height: 48px;}
#column_container #Column-1 #shelf-4{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-1 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-1 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-1 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Column-2 #shelf-7{ margin:54px 0 0 0; height: 48px;}
#column_container #Column-2 #shelf-6{ margin:5px 0 0 0; height: 48px;}
#column_container #Column-2 #shelf-5{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-2 #shelf-4{ margin:5px 0 0 0; height: 48px;}
#column_container #Column-2 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-2 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-2 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Slip-1 #shelf-5{ margin:200px 0 0 0; height: 52px;}
#column_container #Slip-1 #shelf-4{ margin:5px 0 0 0; height: 70px;}
#column_container #Slip-1 #shelf-3{ margin:5px 0 0 0; height: 70px;}
#column_container #Slip-1 #shelf-2{ margin:5px 0 0 0; height: 68px;}
#column_container #Slip-1 #shelf-1{ margin:6px 0 0 0; height: 101px;}

#column_container #Column-3 #shelf-7{ margin:53px 0 0 0; height: 48px;}
#column_container #Column-3 #shelf-6{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-3 #shelf-5{ margin:5px 0 0 0; height: 48px;}
#column_container #Column-3 #shelf-4{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-3 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-3 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-3 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Slip-2 #shelf-5{ margin:200px 0 0 0; height: 52px;}
#column_container #Slip-2 #shelf-4{ margin:5px 0 0 0; height: 70px;}
#column_container #Slip-2 #shelf-3{ margin:5px 0 0 0; height: 70px;}
#column_container #Slip-2 #shelf-2{ margin:5px 0 0 0; height: 68px;}
#column_container #Slip-2 #shelf-1{ margin:6px 0 0 0; height: 101px;}

#column_container #Column-4 #shelf-7{ margin:53px 0 0 0; height: 48px;}
#column_container #Column-4 #shelf-6{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-4 #shelf-5{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-4 #shelf-4{ margin:5px 0 0 0; height: 48px;}
#column_container #Column-4 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-4 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-4 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Column-5 #shelf-8{ margin:0px 0 0 0; height: 48px;}
#column_container #Column-5 #shelf-7{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-5 #shelf-6{ margin:5px 0 0 0; height: 48px;}
#column_container #Column-5 #shelf-5{ margin:6px 0 0 0; height: 48px;}
#column_container #Column-5 #shelf-4{ margin:5px 0 0 0; height: 49px;}
#column_container #Column-5 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-5 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-5 #shelf-1{ margin:5px 0 0 0; height: 101px;}

/*
** @books individual
*/
#Column-2 #shelf-5 .book__stock-1{  width:3.5px; }
#Column-3 #shelf-6 .book__stock-1{  width:6px; }
#Column-3 #shelf-6 .book__stock-5{  width:30px; }
#Column-3 #shelf-7 .book__stock-2{  width:8px; }
#Column-3 #shelf-7 .book__stock-4{  width:10px; }
#Column-3 #shelf-7 .book__stock-5{  width:20px; }
#Column-3 #shelf-7 .book__stock-6{  width:20px; }
#Slip-1 #shelf-4 .book__stock-1{ width:3.5px; }
#Slip-1 #shelf-5 .book__stock-1{ width:3.5px; }
#Slip-2 #shelf-3 .book__stock-2{ width: 12px; }
#Slip-2 #shelf-3 .book__stock-3{ width: 15px; }
#Slip-2 #shelf-4 .book__stock-1{ width: 6px; }
#Slip-2 #shelf-4 .book__stock-2{ width: 12px; }
#Slip-2 #shelf-5 .book{ width: 3.2px; }
#Column-4 #shelf-2 .book__stock-1{  width:4.5px; }
#Column-4 #shelf-3 .book__stock-1{  width:4px; }
#Column-4 #shelf-7 .book__stock-1{  width:6px; }
#Column-4 #shelf-7 .book__stock-2{  width:14px; }
#Column-5 #shelf-1 .book__stock-1{  width:8px; }
#Column-5 #shelf-1 .book__stock-2{  width:15px; }
#Column-5 #shelf-2 .book__stock-1{  width:6px; }
#Column-5 #shelf-2 .book__stock-2{  width:12px; }
#Column-5 #shelf-4 .book__stock-1{  width:3px; }
#Column-5 #shelf-4 .book{  width:4.5px; }
#Column-5 #shelf-5 .book{  width:5px; }
#Column-5 #shelf-5 .book__stock-9{ width:15px; }
#Column-5 #shelf-7 .book{ width:4.5px; }

.book__stock-1{ width:5px; }
.book__stock-2{ width:6px; }
.book__stock-3{ width:10px; }
.book__stock-4{ width:13px; }
.book__stock-5{ width:14px; }
.book__stock-6{ width:14px; }
.book__stock-7{ width:16px; }
.book__stock-8{ width:18px; }
.book__stock-9{ width:14px; }
.book__stock-10{ width:30px; }
.book__stock-11{ width:55px; }
.book__stock-14{ width:50px; }
.book__stock-16{ width:56px; }
.book__stock-19{ width:90px; }
.book__stock-23{ width:135px; }
.book__stock-25{ width:95px; }
.format_fol\. .book__stock-1{ width:5px;}
.format_fol\. .book__stock-2{ width:12px;}
.format_fol\. .book__stock-3{ width:14px;}
.format_fol\. .book__stock-4{ width:16px;}



#bookID-{ width: px !important;}

#bookID-20{ width: 55px !important;}
#bookID-28{ width: 11px !important;}
#bookID-29{ width: 11px !important;}
#bookID-62{ width: 16px !important;}
#bookID-66{ width: 8px !important;}
#bookID-105{ width: 5px !important;}
#bookID-107{ width: 8px !important;}
#bookID-365{ width: 4px !important;}
#bookID-366{ width: 4px !important;}
#bookID-368{ width: 4px !important;}
#bookID-375{ width: 4px !important;}
#bookID-376{ width: 4px !important;}
#bookID-148{ width: 8px !important;}
#bookID-149{ width: 110px !important;}
#bookID-179{ width: 12px !important;}
#bookID-381{ width: 7px !important;}
#bookID-382{ width: 7px !important;}
#bookID-397{ width: 5px !important;}
#bookID-401{ width: 10px !important;}
#bookID-220{ width: 7px !important;}
#bookID-224{ width: 7px !important;}
#bookID-225{ width: 25px !important;}
#bookID-230{ width: 7px !important;}
#bookID-233{ width: 12px !important;}
#bookID-236{ width: 15px !important;}
#bookID-260{ width: 10px !important;}
#bookID-261{ width: 10px !important;}
#bookID-295{ width: 25px !important;}
#bookID-327{ width: 8px !important;}
#bookID-328{ width: 12px !important;}
#bookID-329{ width: 15px !important;}
#bookID-330{ width: 15px !important;}
#bookID-333{ width: 6px !important;}
#bookID-334{ width: 7px !important;}