/*
** @section 
*/
section#content_body{
  background-image: url(../images/backgrounds/west-wall.jpg);
  background-size: 1200px 961px;     /* Define precise size of the background */
  background-position: center -30px;
  background-repeat: no-repeat;
  margin-top: 80px !important;
  min-height: 961px;
  max-height: 961px;
  height: 961px;
  width:100vw;
}
section #column_container{
  border:5px solid transparent;
  width:760px;
  height:600px;
  margin: 165px auto 0 auto;
  display: flex;
  flex-direction: row;
}

/*
** @columns
*/
#Column-1{  margin:5px 0 0 8px;   width:96px;}
#Column-2{  margin:5px 0 0 20px;  width:62px; }
#Slip-1{    margin:0px 0 0 21px;  width:79px; }
#Column-3{  margin:7px 0 0 21px;  width:139px;}
#Slip-2{    margin:0px 0 0 21px;  width:79px; }
#Column-4{  margin:8px 0 0 21px;  width:61px; }
#Column-5{  margin:8px 0 0 21px;  width:96px;}

/*
** @shelf
*/
#column_container #Column-1 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-1 #shelf-5{ margin:5px 0 0 0; height: 75px;}
#column_container #Column-1 #shelf-4{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-1 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-1 #shelf-2{ margin:5px 0 0 0; height: 102px;}
#column_container #Column-1 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Column-2 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-2 #shelf-5{ margin:5px 0 0 0; height: 76px;}
#column_container #Column-2 #shelf-4{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-2 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-2 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-2 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Slip-1 #shelf-5{ margin:205px 0 0 0; height: 51px;}
#column_container #Slip-1 #shelf-4{ margin:6px 0 0 0;   height: 70px;}
#column_container #Slip-1 #shelf-3{ margin:5px 0 0 0;   height: 68px;}
#column_container #Slip-1 #shelf-2{ margin:5px 0 0 0;   height: 70px;}
#column_container #Slip-1 #shelf-1{ margin:5px 0 0 0;   height: 100px;}

#column_container #Column-3 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-3 #shelf-5{ margin:5px 0 0 0; height: 75px;}
#column_container #Column-3 #shelf-4{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-3 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-3 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-3 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Slip-2 #shelf-5{ margin:205px 0 0 0; height: 51px;}
#column_container #Slip-2 #shelf-4{ margin:6px 0 0 0;   height: 70px;}
#column_container #Slip-2 #shelf-3{ margin:5px 0 0 0;   height: 68px;}
#column_container #Slip-2 #shelf-2{ margin:5px 0 0 0;   height: 71px;}
#column_container #Slip-2 #shelf-1{ margin:5px 0 0 0;   height: 100px;}

#column_container #Column-4 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-4 #shelf-5{ margin:5px 0 0 0; height: 75px;}
#column_container #Column-4 #shelf-4{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-4 #shelf-3{ margin:5px 0 0 0; height: 100px;}
#column_container #Column-4 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-4 #shelf-1{ margin:5px 0 0 0; height: 101px;}

#column_container #Column-5 #shelf-6{ margin:0px 0 0 0; height: 75px;}
#column_container #Column-5 #shelf-5{ margin:5px 0 0 0; height: 75px;}
#column_container #Column-5 #shelf-4{ margin:5px 0 0 0; height: 100px;}
#column_container #Column-5 #shelf-3{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-5 #shelf-2{ margin:5px 0 0 0; height: 101px;}
#column_container #Column-5 #shelf-1{ margin:5px 0 0 0; height: 101px;}